.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.col-md-9 {
  background-color: white;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: -30px;
  padding-top: 80px;
  border-left: 2px solid #9483a1;
}

@media (max-width: 768px) {
  .col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.error-message {
  color: #a94442;
  font-style: italic;
}

.success-message {
  color: #42A948;
  font-style: italic;
}

.ng-invalid:not(form).ng-touched, .ng-invalid:not(form).ng-dirty {
  border: 2px solid indianred;
}

.ng-valid.ng-dirty:not(form) {
  border: 2px solid limegreen;
}

.btn-primary {
  margin-left: 15px;
}
