<div class="container registration-background" style="padding-top: 30px">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="line float-lg-left"></div>
      <a (click)="goBack()" class="pointer float-xs-right close"></a>
      <div style="padding: 35px">
        <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="success-message" *ngIf="succesMessage">{{succesMessage}}</div>
        <h1 id="#formHeader">Sign Up</h1>
        <form novalidate (ngSubmit)="createNewUser(registrationForm.value)" [formGroup]="registrationForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First name: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['firstname']"
                       placeholder="John" [maxlength]="20">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('firstname').hasError('required') && (registrationForm.get('firstname').dirty ||  registrationForm.get('firstname').touched)">
                    Name is required</p>
                  <p
                    *ngIf="registrationForm.get('firstname').hasError('invalidFirstname') && registrationForm.get('firstname').dirty
                    && !registrationForm.get('firstname').hasError('required')">
                    Name is invalid</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Last name: </label>
              <input type="text" class="form-control" [formControl]="registrationForm.controls['lastname']"
                     placeholder="Doe" [maxlength]="41">
              <div class="error">
                <div class="form-group">
                  <p
                    *ngIf="registrationForm.get('lastname').hasError('required') && (registrationForm.get('lastname').dirty || registrationForm.get('lastname').touched)">
                    Last name is required</p>
                  <p
                    *ngIf="registrationForm.get('lastname').hasError('invalidLastname') && registrationForm.get('lastname').dirty
                    && !registrationForm.get('lastname').hasError('required')">
                    Last name is invalid</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Username: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['username']"
                       [maxlength]="20">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('username').hasError('required') && (registrationForm.get('username').dirty || registrationForm.get('username').touched)">
                    Username is required</p>
                  <p
                    *ngIf="registrationForm.get('username').hasError('minlength') && registrationForm.get('username').dirty
                    && !registrationForm.get('username').hasError('required')">
                    Username minimum length: 3
                  </p>
                  <p
                    *ngIf="registrationForm.get('username').hasError('invalidUsername') && registrationForm.get('username').dirty
                    && !registrationForm.get('username').hasError('minlength') && !registrationForm.get('username').hasError('required')">
                    Invalid username
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Password: </label>
                <input type="password" class="form-control" [maxlength]="20"
                       [formControl]="registrationForm.controls['password']" validateEqual="conpassword" reverse="true">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('password').hasError('required') && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
                    Password is required</p>
                  <p
                    *ngIf="registrationForm.get('password').hasError('minlength') && registrationForm.get('password').dirty
                     && !registrationForm.get('password').hasError('required')">
                    Password minimum length: 6</p>
                  <p
                    *ngIf="registrationForm.get('password').hasError('invalidPassword') && registrationForm.get('password').dirty
                    && !registrationForm.get('password').hasError('required')">
                    Password must contain at least one digit and uppercase character
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm password: </label>
                <input type="password" class="form-control" [formControl]="registrationForm.controls['conpassword']"
                       [maxlength]="20" validateEqual="password" reverse="false">
              </div>
              <div class="error"
                   *ngIf="!registrationForm.get('conpassword').valid && registrationForm.get('conpassword').dirty">
                Passwords don't match
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email: </label>
                <input [maxlength]="50" type="text" class="form-control"
                       [formControl]="registrationForm.controls['email']"
                       placeholder="john.doe@example.com" validateEqual="conemail" reverse="true">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('email').hasError('required') && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                    Email is required</p>
                  <p
                    *ngIf="registrationForm.get('email').hasError('invalidEmail')&& registrationForm.get('email').dirty
                    && !registrationForm.get('email').hasError('required')">
                    Invalid email</p>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm email: </label>
                <input [maxlength]="50" type="text" class="form-control"
                       [formControl]="registrationForm.controls['conemail']"
                       validateEqual="email" reverse="false">
                <div class="error"
                     *ngIf="registrationForm.get('conemail').invalid && registrationForm.get('conemail').dirty">
                  Email addresses don't match
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary float-xs-right" [disabled]="!registrationForm.valid">Submit
          </button>
          <button type="button" class="btn btn-secondary float-xs-right" (click)="goBack()">Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
