<div class="container registration-background" style="padding-top: 30px">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="line float-lg-left"></div>
      <a (click)="goBack()" class="pointer float-xs-right close"></a>
      <div style="padding: 35px">
        <h1 id="#formHeader">Sign Up</h1>
        <form novalidate (ngSubmit)="onSubmit(registrationForm.value)" [formGroup]="registrationForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First name: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['firstname']"
                       placeholder="John" [maxlength]="25">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('firstname').hasError('required') && registrationForm.get('firstname').touched">
                    Name is required</p>
                  <p
                    *ngIf="registrationForm.get('firstname').hasError('pattern') && registrationForm.get('firstname').dirty">
                    Name is invalid</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last name: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['lastname']"
                       placeholder="Deer" [maxlength]="25">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('lastname').hasError('required') && registrationForm.get('lastname').touched">
                    Last name is required</p>
                  <p
                    *ngIf="registrationForm.get('lastname').hasError('pattern') && registrationForm.get('lastname').dirty">
                    Last name is invalid</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Username: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['username']"
                       [maxlength]="20">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('username').hasError('required') && registrationForm.get('username').touched">
                    Username is required</p>
                  <p
                    *ngIf="registrationForm.get('username').hasError('minlength') && registrationForm.get('username').dirty">
                    Username minimum length: 6
                  </p>
                  <p
                    *ngIf="registrationForm.get('username').hasError('pattern') && registrationForm.get('username').dirty && !registrationForm.get('username').hasError('minlength')">
                    Invalid username
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Password: </label>
                <input type="password" class="form-control" [maxlength]="16"
                       [formControl]="registrationForm.controls['password']" validateEqual="conpassword" reverse="true">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('password').hasError('required') && registrationForm.get('password').touched">
                    Password is required</p>
                  <p
                    *ngIf="registrationForm.get('password').hasError('minlength') && registrationForm.get('password').dirty">
                    Password minimum length: 6</p>
                  <p
                    *ngIf="registrationForm.get('password').hasError('pattern') && registrationForm.get('password').dirty">
                    Password must contain at least one digit and uppercase character
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm password: </label>
                <input type="password" class="form-control" [formControl]="registrationForm.controls['conpassword']"
                       [maxlength]="16" validateEqual="password" reverse="false">
              </div>
              <div class="error" *ngIf="!registrationForm.get('conpassword').valid">
                <p
                  *ngIf="registrationForm.get('conpassword').hasError('required')&& registrationForm.get('conpassword').touched">
                  Password confirmation is required</p>
                <p *ngIf="registrationForm.get('conpassword').dirty
                    &&!registrationForm.get('conpassword').hasError('required')"> Passwords don't match</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['email']"
                       placeholder="john.deer@example.com" validateEqual="conemail" reverse="true">
                <div class="error">
                  <p
                    *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched">
                    Email is required</p>
                  <p
                    *ngIf="registrationForm.get('email').hasError('invalidEmail')&& registrationForm.get('email').dirty
                    && !registrationForm.get('email').hasError('required')">
                    Invalid email</p>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm email: </label>
                <input type="text" class="form-control" [formControl]="registrationForm.controls['conemail']"
                       validateEqual="email" reverse="false">
                <div class="error" *ngIf="!registrationForm.get('conemail').valid">
                  <p
                    *ngIf="registrationForm.get('conemail').hasError('required') && registrationForm.get('conemail').touched">
                    Email confirmation is required
                  </p>
                  <p
                    *ngIf="registrationForm.get('conemail').dirty
                    &&!registrationForm.get('conemail').hasError('required')">
                    Email addresses don't match</p>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary float-xs-right" [disabled]="!registrationForm.valid">Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
