target 
.idea 
*.iml 
.settings/ 
target/ 
.project 
.classpath 
api/.settings/ 
bll/.settings/ 
dal/.settings/ 
api/.classpath 
bll/.classpath 
dal/.classpath 
api/.project 
bll/.project 
dal/.project 
msc/

