target
target/
.idea
.settings
.settings/
.project
.classpath
*.iml

api/.settings
api/.classpath
api/.project
api/mvnw
api/mvnw.cmd
api/.mvn/wrapper


bll/.settings
bll/.classpath
bll/.project

dal/.settings
dal/.classpath
dal/.project

msc/

