.form-bordered {
  border: 2px solid black;
  border-color: #f4f4f4 #dddddd #dddddd #f4f4f4;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 9px -7px rgba(51,51,51,1);
  -moz-box-shadow: 8px 8px 9px -7px rgba(51,51,51,1);
  box-shadow: 8px 8px 9px -7px rgba(51,51,51,1);
}

h1 {
  padding-bottom: 15px;
}
.pointer {
  cursor: pointer;
}
