body{
  background-color: #c2c4c6;
}
.navbar {
  z-index: 1000;
}

.form-bordered {
  border: 2px solid;
  border-color: #f4f4f4 #d0d0d0 #d0d0d0 #f4f4f4;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.arrow {
  background: url(../app/components/search_results/arrow-right.svg) center center;
  background-size: cover;
}

.close {
  background: url(close.svg);
  width: 30px;
  height: 30px;
}

.registration-background {
  background: #c2c4c6 url(../app/components/registration/registration-form.background.png) no-repeat center center;
}

.user-background {
  background: #c2c4c6 url(../app/components/user_account/user-background.jpg) no-repeat center center;
}

.jumbotron {
  background: #c2c4c6 url(BlihuYt.jpg) no-repeat center center;
}

#formHeader {
  padding-bottom: 15px;
}

.error {
  color: #a94442;
}
