.navbar {
  z-index: 9999;
}

.form-bordered {
  border: 2px solid black;
  border-color: #f4f4f4 #d0d0d0 #d0d0d0 #f4f4f4;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 9px -7px rgba(51, 51, 51, 1);
  -moz-box-shadow: 8px 8px 9px -7px rgba(51, 51, 51, 1);
  box-shadow: 8px 8px 9px -7px rgba(51, 51, 51, 1);
}

#formHeader {
  padding-bottom: 15px;
}

.pointer {
  cursor: pointer;
}

.close {
  background: url(close.svg);
  width: 30px;
  height: 30px;
}

.registration-background {
  background: black url(../app/components/_css/registration-form.background.png);
}
