<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">

	<resultMap type="User" id="usermap">
		<id column="user_id" property="userId" />
		<result column="first_name" property="firstName" />
		<result column="last_name" property="lastName" />
		<result column="email" property="email" />
		<result column="image_uri" property="imageUri" />
	</resultMap>

	<select id="selectBlog" resultType="User">
		select * from User where @rid
		= #{id}
	</select>

	<select id="test" resultMap="usermap">
		select * from User where @rid =
		#12:3
	</select>

	<select id="test2" resultMap="usermap" parameterType="String">
		select * from User where @rid = #{id}
	</select>
</mapper>