.body {
  position: relative;
  border-radius: 5px;
  margin-top: 35px;
  min-height: 80vh;
}

.not_found {
  min-height: 75vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.not_found_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  margin-top: 10px;
  width: 80%;

}

.price {
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2c991b;
}

.content {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-bordered {
  background-color: #4f5457;
  border: 2px solid #3c4042;
}

.airline {
  font-weight: bold;
}

.date {
  font-weight: 700;
}

.country {
  font-weight: 300;
}
